<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Pozdrawiam Cieplutko</title>
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    </head>
    <body>
        {% block content %}
                <div>{% if user.is_authenticated %}
                ZALOGOWANO JAKO: {{ user }}
                <a class="nav-item" href="{% url 'logout' %}">wyloguj</a>
                {% else %}
                <a class="nav-item" href="{% url 'login' %}">zaloguj</a>
                {% endif %}
                </div>
        {% endblock %}
    </body>
</html>