{% extends 'base.html' %}

{% block content %}

{% load static %}
<html>
    <head></head>
    <body>
        <form action="{% url 'hub' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
        {% for post in posts %}
            <div id="photo_div">
            <img src="{{ post.photo.url }}" width="600", height="400"/>
            <br>{{ post.op }}
            <br>{{ post.creation_date }}
            <br>{{ post.description }}<br>
            </div><br>

        {% endfor %}
    </body>
</html>
{% endblock %}

